<a href="https://colab.research.google.com/github/kheit9527/2025_TCFST_Python_ML/blob/main/250707_Python_ML_Class03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/ximen_ai_20250630/raw/refs/heads/main/titanic/train.csv"
urlretrieve(url, "train.csv")

url = "https://github.com/Elwing-Chou/ximen_ai_20250630/raw/refs/heads/main/titanic/test.csv"
urlretrieve(url, "test.csv")

('test.csv', <http.client.HTTPMessage at 0x78dea26de4d0>)

In [ ]:
import pandas as pd

train = pd.read_csv("train.csv", encoding = "utf-8")
test = pd.read_csv("test.csv", encoding = "utf-8")

```
資料預處理(針對x<資料>):
0. 資料分成兩種:
a. 數值類型(有連續、大小關係的):
  Age, SibSP, Parch, Ticket(Count), Fare
b. 固定類型:
  Pclass, Sex, Cabin, Embarked

1. 把所有空值補上
2. 針對固定類型作One-hot
Extra. 做出更多欄位
```

In [ ]:
# 注意axis(0 = 依據列合併 or 1 = 依據行合併)
train_test = pd.concat([train, test], axis=0) # ignore_index = True

In [ ]:
train_test = train_test.drop(["PassengerId", "Survived"], axis = 1)

In [ ]:
train_test

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
413,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

```
pandas兩大操作:
1. 過濾
2. 轉換
```

In [ ]:
# Demo pandas
# 1. 過濾: 帶入跟你資料筆數一樣多的True / False
# 對到True: 留下, 對到False: 踢掉

fil = [True, False, True]
train_test.head(3)[fil]

fil = train_test["Age"] > 50
train_test[fil]

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
6,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
33,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
54,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
...,...,...,...,...,...,...,...,...,...,...
356,1,"Brown, Mrs. John Murray (Caroline Lane Lamson)",female,59.0,2,0,11769,51.4792,C101,S
374,1,"Dodge, Mrs. Washington (Ruth Vidaver)",female,54.0,1,1,33638,81.8583,A34,S
378,1,"Hipkins, Mr. William Edward",male,55.0,0,0,680,50.0000,C39,S
387,2,"Ashby, Mr. John",male,57.0,0,0,244346,13.0000,NaN,S
391,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S

In [ ]:
# Demo pandas
# 2. 轉換: apply(超級重要!)

In [ ]:
# Everything is an object
# 每個東西都有型態, 每個型態都有對應操作
# 型態: print, 一份步驟
# 操作: (3), 真的把步驟執行
# 錦囊: (型態)還沒打開, (操作)真的打開

b = int
b(5.6)

import random

def test(t):
    if t == 0:
        return random.randint
    else:
        return random.uniform
test(0)(1,5)

3

In [ ]:
# Demo pandas: apply
# DataFrame: 2d表格, Series: 1d(一行or一列)

# def flow(n):
    # return n + 100

flow = lambda n: n + 100

s = pd.Series([1, 2, 3, 4])
s.apply(flow) # flow不加小括號

0    101
1    102
2    103
3    104
dtype: int64

In [ ]:
def flow(s):
    # n = "Heikkinen, Miss. Laina"
    s_spl = s.split(",")[-1].split(".")[0]
    return s_spl.strip()

# value(counts)
name_apply = train_test["Name"].apply(flow)
name_apply.value_counts()

train_test["Name"] = name_apply
train_test

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,Mr,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,Mrs,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,Miss,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,Mrs,female,35.0,1,0,113803,53.1000,C123,S
4,3,Mr,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
413,3,Mr,male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1,Dona,female,39.0,0,0,PC 17758,108.9000,C105,C
415,3,Mr,male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,3,Mr,male,NaN,0,0,359309,8.0500,NaN,S
417,3,Master,male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
def flow(s):
    if pd.isna(s):
        return s
    else:
        return s[0]

cabin_apply = train_test["Cabin"].apply(flow)
train_test["Cabin"] = cabin_apply
train_test

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,Mr,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,Mrs,female,38.0,1,0,PC 17599,71.2833,C,C
2,3,Miss,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,Mrs,female,35.0,1,0,113803,53.1000,C,S
4,3,Mr,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
413,3,Mr,male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1,Dona,female,39.0,0,0,PC 17758,108.9000,C,C
415,3,Mr,male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,3,Mr,male,NaN,0,0,359309,8.0500,NaN,S
417,3,Master,male,NaN,1,1,2668,22.3583,NaN,C